---
layout: default
---

<div class="page-content">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>

<ul class="post-list" style="list-style: none; padin: 0;">
    {% assign category_docs = site.docs | lle: "categori", tudalen.category_name %}
    { % ar gyfer doc yn y categori_docs %}
      <li style="margin-bottom: 20px;">
        <span class="post-meta" style="font-size: 0.85em; didreiddedd: 0.7;">
</span>
        <h3>
          <a class="post-link" href="{{ doc.url }}" style="text-decoration: dim; maint y ffont: 1.2em; pwysau ffont: trwm;">
            {{ doc.title }}
          </a>
        </h3>
        { % os doc.description %}
          <p style="margin-top: 5px;">{{ doc.description }}</p>
        { % endif %}
      </li>
    { % end for %}
  </ul>

<p style="margin-top: 40px;" <a href="/docs/" class="back-link">&larr; Yn ôl i bob Dogfen</a></p>
</div>